.searchbar {
  padding: 24px 0px;
}

.searchbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar_btn_group {
  padding: 4px;
  min-height: 48px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.my_orders_btn {
  padding: 8px 32px;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.archive_orders_btn {
  padding: 8px 32px;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchbar_btn_active {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.input_box {
  display: flex;
  margin-left: -32px;
}

.input_box input {
  padding: 12px 16px;
  width: 330px;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  border-radius: 8px;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.input_box img {
  margin-left: -40px;
}
