.order_modal {
  display: none;
  position: relative;
  margin-top: -300px;
}

.modal_contents {
  position: absolute;
  padding: 40px;
  top: 0%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  width: 100%;
  max-width: 1240px;
  border-radius: 8px;
  z-index: 1000;
}

.order_modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.heading_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.order_heading {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
}

.order_modal_count {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: #ff5959;
  color: #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order_close_btn {
  background-color: #fff;
  padding: 7px 10px;
  border: 1.5px solid #bfbfbf;
  color: #bfbfbf;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.filtering_wrapper {
  margin-bottom: 47px;
}

.filtering_wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.filtering_wrapper select {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #bfbfbf;
  padding: 12px 16px;
  background: #f5f5f5;
  border-radius: 8px;
  width: 100%;
  max-width: 312px;
  border: none;
}

.orders_list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.finish_btn {
  cursor: pointer;
  margin-top: 56px;
  display: block;
  margin-left: auto;
  border: none;
  padding: 12px 56px;
  background: #03c3ff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
