.products-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}

.tableView .products-header {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #E6F7FF;
  position: sticky;
  top: 0;
}

.tableView .products-row {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.tableView .products-row:hover {
  background-color: rgb(237, 238, 239);
}

.tableView .products-row .cell-more-button {
  display: none;
}

.tableView .product-cell {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #434343;
  flex: 1;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.tableView .product-cell:nth-child(1) {
  flex: 1;
  padding: 8px 0 8px 32px;
  color: var(--app-content-main-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tableView .product-cell img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  margin-right: 6px;
}

.t-center {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #434343;
}

.products-row .product-cell {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}

.products-row {
  border-bottom: 1px solid #D9D9D9;
}

@media screen and (max-width: 780px) {
  .tableView .product-cell {
    font-size: 12px;
  }

  .tableView .product-cell.image span {
    display: none;
  }

  .tableView .product-cell.image {
    flex: 0.2;
  }
}

@media screen and (max-width: 520px) {

  .tableView .product-cell.category,
  .tableView .product-cell.sales {
    display: none;
  }

  .tableView .product-cell.status-cell {
    flex: 0.4;
  }

  .tableView .product-cell.stock,
  .tableView .product-cell.price {
    flex: 0.2;
  }
}

@media screen and (max-width: 480px) {
  .tableView .product-cell.stock {
    display: none;
  }

  .tableView .product-cell.price {
    flex: 0.4;
  }
}

.tableView .sort-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--app-content-main-color);
  margin-left: 4px;
  display: flex;
  align-items: center;
}

.tableView .sort-button:hover {
  color: var(--action-color);
}

.tableView .sort-button svg {
  width: 12px;
}

.tableView .cell-label {
  display: none;
}

.status-accepted {
  text-transform: uppercase;
  color: #52C41A;
}

.status-progress {
  text-transform: uppercase;
  color: #40A9FF;
}

.status-rejected {
  text-transform: uppercase;
  color: #F5222D;
}